.container {
  width: 100%;
  padding: 40px 0px 0px 0px;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.header,
.headerKey {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 97%; */

  color: #2d0353;
}

.headerKey {
  margin-bottom: 10px;
}

.mapContainer {
  width: 85%;
  height: 500px;

  border: 1px #ccc solid;
  border-radius: 6px;
}

.mapKey {
  width: 85%;
  min-height: 50px;
}

@media screen and (max-width: 800px) {
  .mapContainer {
    height: 400px;
  }
}

@media screen and (max-width: 400px) {
  .mapContainer {
    height: 300px;
  }
}
