.container {
  height: 100%;
  width: 100%;

  padding: 20px;
}

.tableTitleText {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;

  color: #2d0353;
  margin-bottom: 5px;
}

/* MODAL SECTION */
.modalContainer {
  position: fixed;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.6);

  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: 280px 1fr;
  align-items: center;
}

.modalContent {
  grid-column: 2/3;
  padding: 25px;
  width: 350px;
  height: 200px;

  background-color: white;
  border-radius: 5px;
  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.noteTitle {
  color: #505050;

  font-size: 16px;
  font-weight: 500;
}

.modalText {
  color: #505050;

  font-size: 12px;
  font-weight: 500;
}

.modalAction {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  width: 100%;
}

.modalContinue,
.modalCancel {
  flex-grow: 1;
  height: 40px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;

  transition: all 0.4s;
}

.modalCancel {
  color: #2d0353;
  border: 1px #ccc solid;
}

.modalContinue {
  background: #2d0353;
  color: white;
}

.modalContinue:hover {
  background-color: #6306b4;
}

.modalCancel:hover {
  background-color: red;
  color: white;
}
