.container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.signupLinkContainer {
  position: absolute;
  top: 20px;
  right: 100px;
}

.linkText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;

  color: #505050;
}

.link {
  font-family: "Product" "Sans" Black;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-bottom: 2px #df8a09 solid;
  padding-bottom: 0.5px;

  color: #df8a09;
  margin-left: 5px;
}

.formContainer {
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.formHeader {
  height: min-content;
  width: 300px;

  font-family: "Product" "Sans" Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 97%;

  color: #505050;
}

.studentNumber {
  height: 70px;
}

.password {
  height: 70px;
}

.loginBtn {
  height: 50px;
}

.forgotPassword {
  height: 50px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  line-height: 150%;
  color: #505050;
}

.formInputWidth {
  width: 300px;
}

@media screen and (max-width: 800px) {
  .signupLinkContainer {
    width: 90%;
    justify-content: center;
    right: unset;
  }

  .formContainer {
    margin-top: 50px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .formInputWidth {
    width: 80%;
  }

  .formHeader {
    width: 80%;
  }
}

@media screen and (max-width: 315px) {
  .formHeader {
    text-align: center;
  }
}
